<!-- templates/weekly-notification.hbs -->

<html>
    <head>
        <title>Weekly Notification</title>
    </head>
    <body>
        <h1>Hello {{name}},</h1>
        <p>This is your weekly notification.</p>
    </body>
</html>